Simple_Graph/[Ll]ibrary/
Simple_Graph/[Tt]emp/
Simple_Graph/[Oo]bj/
Simple_Graph/[Bb]uild/
Simple_Graph/[Bb]uilds/
Simple_Graph/[Ll]ogs/
Simple_Graph/[Uu]ser[Ss]ettings/
Simple_Graph/[Mm]emoryCaptures/
Simple_Graph/[Rr]ecordings/
Simple_Graph/[Aa]ssets/Plugins/Editor/JetBrains*
Simple_Graph/vs/
Simple_Graph.gradle/
Simple_Graph/ExportedObj/
Simple_Graph/.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

Simple_Graph/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

Simple_Graph/[Aa]ssets/[Ss]treamingAssets/aa.meta
Simple_Graph/[Aa]ssets/[Ss]treamingAssets/aa/*
